@charset "utf-8";
/* CSS Document */
header {
	width: 100%; 
	height: 70px;
	background: rgb(70,70,70);
	position:relative;
}

nav {
 	width: 100%; 
	height: 40px;
   	background: rgb(150,150,150);
}

aside {
	width: 30%; 
	height: 200px;
	background: rgb(31, 162, 173);
	float: left;
}

article {
	width: 70%; 
	height: 200px;
	background: rgb(61, 211, 61);
	float: right;
}

footer {
	width: 100%; height: 70px;
	background: rgb(247, 74, 74);
	clear: left;
}

ul {
    background: rgb(200, 174, 74);
    width:700px;
    height: 30 px;
    margin: auto;
}

li {
    background: rgb(100, 150, 74);
    list-style-type: none;
    float: left;
    width: 20%;   
}

li a {
    text-decoration: none;
    color:yellow;
}

li a:hover{
    background:yellow;
    color:red;
}

li a:active{
    background:red;
}

.logo {
   	background-color: red;
	position: absolute;
	top: 20px;
	left: 10px;
	width: 50px;
	height: 40px;
}

#contenedor {
    padding-top:20px;
	width: 80%;
	margin: auto;
}

body{
    color: #fff;
    background-image: url(19742.jpg);
    background-repeat: repeat;
    background-size: 500px 500px;
}
